body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
.top-section h1{
    color: rgb(43, 23, 61);
    font-size: 80px;
    text-align: center;
}
.top-section{
    margin-bottom: 100px;
}
#top-banner{
    background-image: linear-gradient(#FF6347,rgba(255, 99, 71, 0.767));
    padding: 5px;
    margin-bottom:80px ;
    
}
.red{
    font-family: 'Otomanopee One', sans-serif;
    color: rgb(247, 2, 51);
}
.orange{
    color: tomato;
}
.flexible-container{
    display: flex;
    
}
.half-div{
    padding-left:70px ;
    line-height: 50px;
    font-size: 30px;
    color: rgb(43, 23, 61);
    font-family: 'Rubik', sans-serif;
    width: 50%;

}
#top-left{
    padding-top: 50px;
}
#top-left h3{
    font-size: 60px;
    line-height: 80px;
}
#top-image{
    width: 100%;
}
.paragraph{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.button{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 20px;
    border-radius: 15px;
    font-weight: 900;
    box-shadow:5px 7px 6px #fc7c41ab ;
    background-image: linear-gradient(#FF6347,rgba(255, 99, 71, 0.767));
}
.mid-section{
    background-image: url(./images/shapes/7.png);
    padding-top: 70px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 70px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    
}

#pink-lady{
    width: 48%;
}
#mid-header{
    font-size: 60px;
    line-height: 80px;
}
#paragraph2{
    padding-right: 100px;
    line-height: 40px;
}
.bottom-section{
    background-image: url(./images/food/bottom-bg.png);
    padding-top: 5px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding:1%;
    margin-bottom: 100px;
    padding-bottom: 100px;
    height: 800px;
}
.Recipe{
    font-size: 40px;
    color: rgb(252, 251, 251);
    font-family: 'Rubik', sans-serif;
    text-align: center;
    
    

}
.quarter-div{
    width: 25%;
    padding: 10px 10px 10px 10px;
    background-image: linear-gradient(gray,whitesmoke);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(49, 49, 49);
    margin-right: 80px;
    

}
.quarter-div img{
    width: 100%;
}
    
.quarter-div p{
    color: whitesmoke;
    padding-right: 100px;
    
    
}
footer{
    text-align: center;
   background-image:linear-gradient(whitesmoke,gray);
   height: 200px;
}
small{
    font-weight: 800;
}